In [1]:
#importing lybriers
import pandas as pd
import numpy as np

In [2]:
path = r"C:\Users\SAGAR\Downloads\credit_risk_dataset.csv"

In [3]:
#reading of file
bdf1=pd.read_csv(path)

In [4]:
bdf1.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [5]:
#finding of null values
bdf1.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [6]:
#droping of null values
bdf=bdf1.dropna()

In [7]:
bdf.isna().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [61]:
##spliting of data into x & y (input & output)
y=bdf['loan_status']
X=bdf[['person_age','person_income','person_home_ownership','person_emp_length','loan_intent','loan_grade','loan_amnt','loan_int_rate','loan_percent_income','cb_person_default_on_file','cb_person_cred_hist_length']]

In [62]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: loan_status, dtype: int64

In [63]:
X.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,0.55,Y,4

## Spliting the data into train and test

In [64]:
#importing of model selection and spliting of train test 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size = 0.75,random_state=0)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(21478, 11) (21478,)
(7160, 11) (7160,)

In [65]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28638 entries, 0 to 32580
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  28638 non-null  int64
 1   person_income               28638 non-null  int64
 2   person_home_ownership       28638 non-null  object
 3   person_emp_length           28638 non-null  float64
 4   loan_intent                 28638 non-null  object
 5   loan_grade                  28638 non-null  object
 6   loan_amnt                   28638 non-null  int64
 7   loan_int_rate               28638 non-null  float64
 8   loan_percent_income         28638 non-null  float64
 9   cb_person_default_on_file   28638 non-null  object
 10  cb_person_cred_hist_length  28638 non-null  int64
dtypes: float64(3), int64(4), object(4)
memory usage: 2.6+ MB

## Data preprocessing

In [66]:
#spliting of numerical values from train data
X_train_num = X_train.select_dtypes(include=['int64','float64'])
X_train_num.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
4409,24,40000,6.0,5000,11.86,0.13,4
25144,28,38500,2.0,12000,10.75,0.31,5
15754,23,84000,3.0,15850,8.49,0.19,4
27013,29,120000,13.0,10000,6.17,0.08,8
16315,25,58650,4.0,20000,14.09,0.29,4

In [67]:
#spliting of catagorical data from train data
X_train_cat = X_train.select_dtypes(include=['object'])
X_train_cat.head()

      person_home_ownership loan_intent loan_grade cb_person_default_on_file
4409                    OWN     MEDICAL          D                         N
25144                  RENT    PERSONAL          B                         N
15754                  RENT     MEDICAL          A                         N
27013              MORTGAGE     VENTURE          A                         N
16315              MORTGAGE     MEDICAL          D                         Y

In [68]:
#saparating of nomial data from train_catagorical data
X_train_cat_no = X_train_cat[['person_home_ownership','loan_intent']]
X_train_cat_no.head()

      person_home_ownership loan_intent
4409                    OWN     MEDICAL
25144                  RENT    PERSONAL
15754                  RENT     MEDICAL
27013              MORTGAGE     VENTURE
16315              MORTGAGE     MEDICAL

In [69]:
#saparating of odinal data from train_catagorical_data
X_train_cat_od = X_train_cat['loan_grade']
X_train_cat_od.head()

4409     D
25144    B
15754    A
27013    A
16315    D
Name: loan_grade, dtype: object

In [70]:
#applying of standardscaler on numerical data
from sklearn.preprocessing import StandardScaler  # importing of standardscaler from sklearn.preprocessing
scaler = StandardScaler()
X_train_num_transformed = pd.DataFrame(scaler.fit_transform(X_train_num), # transforming of numerical data and creating of dataframe for transformed data
                                       columns= X_train_num.columns,
                                       index=X_train_num.index)
X_train_num_transformed.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
4409,-0.587482,-0.421354,0.285262,-0.735384,0.251728,-0.368081,-0.436882
25144,0.050892,-0.445044,-0.671125,0.370084,-0.091339,1.328874,-0.188612
15754,-0.747075,0.273556,-0.432029,0.978092,-0.789836,0.197571,-0.436882
27013,0.210485,0.842119,1.958940,0.054236,-1.506878,-0.839457,0.556197
16315,-0.427888,-0.126807,-0.192932,1.633477,0.940953,1.140323,-0.436882

In [71]:
from sklearn.preprocessing import OneHotEncoder # importing of OneHotEncoder
encoder = OneHotEncoder(drop='first',sparse=False)
X_train_cat_nom = pd.DataFrame(encoder.fit_transform(X_train_cat_no),
                               columns = encoder.get_feature_names_out(X_train_cat_no.columns),
                               index = X_train_cat_no.index) #transforming of catagorical data and creating of dataframe for transformed data
X_train_cat_nom.head()

,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
4409,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
25144,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
15754,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
27013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16315,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [72]:
#unique values in train_catagorical in odinal data
X_train_cat_od.unique()

array(['D', 'B', 'A', 'C', 'E', 'F', 'G'], dtype=object)

In [73]:
#creating dataframe for index values
X_train_cat_od = pd.DataFrame(index = X_train_cat.index)
X_train_cat_od.head()

Empty DataFrame
Columns: []
Index: [4409, 25144, 15754, 27013, 16315]

In [74]:
#applying of label encoding 
clarity_encoder = {'A':7,'B':6,'C':5,'D':4,'E':3,'F':2,'G':1}
X_train_cat_od = X_train['loan_grade'].apply (lambda x: clarity_encoder[x])
X_train_cat_od.head()

4409     4
25144    6
15754    7
27013    7
16315    4
Name: loan_grade, dtype: int64

In [75]:
#concating of x_train_cat_nominal and odinal
X_train_cat_transformed = pd.concat([X_train_cat_nom,X_train_cat_od],axis=1)
X_train_cat_transformed.head()

,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade
4409,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,4
25144,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,6
15754,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,7
27013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7
16315,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4

In [76]:
#concatinating of x_train_num_transform and x_train_cat_tannsform
X_train_transformed = pd.concat([X_train_num_transformed,X_train_cat_transformed],axis=1)
X_train_transformed.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade
4409,-0.587482,-0.421354,0.285262,-0.735384,0.251728,-0.368081,-0.436882,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,4
25144,0.050892,-0.445044,-0.671125,0.370084,-0.091339,1.328874,-0.188612,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,6
15754,-0.747075,0.273556,-0.432029,0.978092,-0.789836,0.197571,-0.436882,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,7
27013,0.210485,0.842119,1.958940,0.054236,-1.506878,-0.839457,0.556197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7
16315,-0.427888,-0.126807,-0.192932,1.633477,0.940953,1.140323,-0.436882,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4

In [77]:
#spliting of numerical values from test data
X_test_num = X_test.select_dtypes(include=['int64','float64'])
X_test_num.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
16555,26,75000,9.0,4000,12.99,0.05,2
28006,27,43218,11.0,5300,14.65,0.12,7
31218,44,80100,16.0,8000,10.38,0.10,16
7645,23,73000,0.0,6825,10.99,0.09,3
17168,25,51492,2.0,13800,10.38,0.27,4

In [78]:
#spliting of catagorical values from test data
X_test_cat = X_test.select_dtypes(include=['object'])
X_test_cat.head()

,person_home_ownership,loan_intent,loan_grade,cb_person_default_on_file
16555,MORTGAGE,MEDICAL,C,Y
28006,RENT,PERSONAL,C,Y
31218,MORTGAGE,MEDICAL,B,N
7645,RENT,DEBTCONSOLIDATION,B,N
17168,MORTGAGE,EDUCATION,B,N

In [79]:
X_test_num_transformed = pd.DataFrame(scaler.transform(X_test_num), # transforming of numerical data and creating of dataframe for transformed data
                                       columns= X_test_num.columns,
                                       index=X_test_num.index)
X_test_num_transformed.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
16555,-0.268295,0.131415,1.002552,-0.893308,0.600977,-1.122283,-0.933421
28006,-0.108702,-0.370531,1.480746,-0.688007,1.114032,-0.462356,0.307927
31218,2.604386,0.211962,2.676230,-0.261612,-0.205695,-0.650907,2.542354
7645,-0.747075,0.099828,-1.149319,-0.447173,-0.017162,-0.745182,-0.685152
17168,-0.427888,-0.239856,-0.671125,0.654348,-0.205695,0.951773,-0.436882

In [80]:
#saparating of nomial data from test_catagorical data
X_test_cat_ohe = X_test_cat[['person_home_ownership','loan_intent']]
X_test_cat_ohe.head()

      person_home_ownership        loan_intent
16555              MORTGAGE            MEDICAL
28006                  RENT           PERSONAL
31218              MORTGAGE            MEDICAL
7645                   RENT  DEBTCONSOLIDATION
17168              MORTGAGE          EDUCATION

In [81]:
#saparating of odinal data from test_catagorical data
X_test_cat_ln = X_test['loan_grade']
X_test_cat_ln.head()

16555    C
28006    C
31218    B
7645     B
17168    B
Name: loan_grade, dtype: object

In [82]:
#unique values in test_catagorical in odinal data
X_test_cat_ln.unique()

array(['C', 'B', 'D', 'A', 'E', 'F', 'G'], dtype=object)

In [83]:
#creating dataframe for index values
X_test_cat_ln = pd.DataFrame(index = X_test_cat.index)
X_test_cat_ln.head()

Empty DataFrame
Columns: []
Index: [16555, 28006, 31218, 7645, 17168]

In [84]:
#transforming of catagorical data and creating of dataframe for transformed data
X_test_cat_ohe = pd.DataFrame(encoder.transform(X_test_cat_ohe),
                               columns = encoder.get_feature_names_out(X_test_cat_ohe.columns),
                               index = X_test_cat_ohe.index) 
X_test_cat_ohe.head()

,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
16555,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28006,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
31218,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7645,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
17168,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [85]:
#applying of label encoding 
clarity_encoder = {'A':7,'B':6,'C':5,'D':4,'E':3,'F':2,'G':1}
X_test_cat_ln = X_test['loan_grade'].apply (lambda x: clarity_encoder[x])
X_test_cat_ln.head()

16555    5
28006    5
31218    6
7645     6
17168    6
Name: loan_grade, dtype: int64

In [86]:
#concating the x_test_cat_nominal and odinal
X_test_cat_transformed = pd.concat([X_test_cat_ohe,X_test_cat_ln],axis=1)
X_test_cat_transformed.head()

,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade
16555,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5
28006,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5
31218,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6
7645,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6
17168,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6

In [87]:
#concatin the x_test_num_transform and x_test_cat_transfrom
X_test_transformed = pd.concat([X_test_num_transformed,X_test_cat_transformed],axis=1)
X_test_transformed.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade
16555,-0.268295,0.131415,1.002552,-0.893308,0.600977,-1.122283,-0.933421,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5
28006,-0.108702,-0.370531,1.480746,-0.688007,1.114032,-0.462356,0.307927,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5
31218,2.604386,0.211962,2.676230,-0.261612,-0.205695,-0.650907,2.542354,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6
7645,-0.747075,0.099828,-1.149319,-0.447173,-0.017162,-0.745182,-0.685152,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6
17168,-0.427888,-0.239856,-0.671125,0.654348,-0.205695,0.951773,-0.436882,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6

# Model creation

## Logistic Regression

In [88]:
#model preparing
from sklearn.linear_model import LogisticRegression
LO_classifier = LogisticRegression()
LO_classifier.fit(X_train_transformed,y_train)

LogisticRegression()

In [89]:
#y_test prediction
y_test_prdt = LO_classifier.predict(X_test_transformed)

In [90]:
#evealating
from sklearn import metrics

LO=metrics.accuracy_score(y_test,y_test_prdt)

In [91]:
LO

0.8533519553072626

##  KNN Classifier

In [92]:
from sklearn.neighbors import KNeighborsClassifier
KN_classifier = KNeighborsClassifier()
KN_classifier.fit(X_train_transformed, y_train)

KNeighborsClassifier()

In [93]:
y_test_prdt_KN = KN_classifier.predict(X_test_transformed)

In [94]:
KN=metrics.accuracy_score(y_test,y_test_prdt_KN)

In [95]:
KN

0.8888268156424581

## DecisionTree classifier

In [96]:
from sklearn.tree import DecisionTreeClassifier
DT_Classifier = DecisionTreeClassifier()
DT_Classifier.fit(X_train_transformed , y_train)

DecisionTreeClassifier()

In [97]:
y_test_prdt_DT = DT_Classifier.predict(X_test_transformed)

In [98]:
DT=metrics.accuracy_score(y_test,y_test_prdt_DT)

In [99]:
DT

0.8896648044692738

## RandomForest Classifier

In [100]:
from sklearn.ensemble import RandomForestClassifier
RF_Classifier = RandomForestClassifier()
RF_Classifier.fit(X_train_transformed,y_train)

RandomForestClassifier()

In [101]:
y_test_prdt_RF = RF_Classifier.predict(X_test_transformed)

In [102]:
RF=metrics.accuracy_score(y_test,y_test_prdt_RF)

In [103]:
RF

0.9329608938547486

## GradientBoosting Classifier

In [104]:
from sklearn.ensemble import GradientBoostingClassifier
GBDT_Classifier = GradientBoostingClassifier()
GBDT_Classifier.fit(X_train_transformed, y_train)

GradientBoostingClassifier()

In [105]:
y_test_prdt_GBDT = GBDT_Classifier.predict(X_test_transformed)

In [106]:
GBDT=metrics.accuracy_score(y_test,y_test_prdt_GBDT)

In [107]:
GBDT

0.9258379888268157

## SupportVector Classifier

In [108]:
from sklearn.svm import SVC
SVC_classifier = SVC()
SVC_classifier.fit(X_train_transformed,y_train)

SVC()

In [109]:
y_test_prdt_SVC = SVC_classifier.predict(X_test_transformed)

In [110]:
SVC=metrics.accuracy_score(y_test,y_test_prdt_SVC)

In [111]:
SVC

0.8916201117318435

## AdaBoost Classifier

In [114]:
from sklearn.ensemble import AdaBoostClassifier
ADA_classifier = AdaBoostClassifier()
ADA_classifier.fit(X_train_transformed,y_train)

AdaBoostClassifier()

In [115]:
y_test_prdt_ADA= ADA_classifier.predict(X_test_transformed)

In [116]:
ADA=metrics.accuracy_score(y_test,y_test_prdt_ADA)

In [122]:
Accuracy = [['Logistic Classifier',LO],
       ['KNN Classifier',KN],
       ['Decision Tree Classifier',DT],
       ['Random Forest Classifier',RF],
       ['Support vector Machines',SVC],
       ['Gradient Boosting Decision Tree Classifier',GBDT],
         [ 'ADA boost classifier',ADA]]
dataframe = pd.DataFrame(Accuracy,columns = ['Algorithm','Accuracy Score'])

# Observation

In [123]:
dataframe

                                    Algorithm  Accuracy Score
0                         Logistic Classifier        0.853352
1                              KNN Classifier        0.888827
2                    Decision Tree Classifier        0.889665
3                    Random Forest Classifier        0.932961
4                     Support vector Machines        0.891620
5  Gradient Boosting Decision Tree Classifier        0.925838
6                        ADA boost classifier        0.886872

# Conclusion

* Finally we conclude that RandomForest classifier is the best for loan prediction 
* And Logisticregressor is very poor loan for pridiction